.flexbox-container {
    height: 100vh;
    width: 100vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
}
.flexbox-item  {
    height: 15vh;
    width: 50vh;
    border: 2px solid black;
    background-color: hotpink;
    color: white;
    font-size: 2em;
    text-align: center;
}
.flexbox-header {
    height: 15vh;
    width: 50vh;
    border: 2px solid black;
    background-color: maroon;
    color: white;
    font-size: 2em;
    text-align: center;
}
.flexbox-aside {
    height: 15vh;
    width: 50vh;
    border: 2px solid black;
    background-color: blue;
    color: white;
    font-size: 2em;
    text-align: center;

}
.flexbox-footer {
    height: 15vh;
    width: 50vh;
    border: 2px solid black;
    background-color: orange;
    color: white;
    font-size: 2em;
    text-align: center;

}