.flexbox-container {
    height: 100vh;
    width: 100vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
}
.flexbox-item  {
    height: 15vh;
    width: 50vh;
    border: 2px solid black;
    background-color: rgb(219, 12, 116);
    color: white;
    font-size: 2em;
    text-align: center;
}
.flexbox-header {
    height: 15vh;
    width: 50vh;
    border: 2px solid black;
    background-color: rgb(87, 12, 53);
    color: white;
    font-size: 2em;
    text-align: center;
    justify-content: ;
}
.flexbox-aside {
    height: 15vh;
    width: 50vh;
    border: 2px solid black;
    background-color: rgb(59, 59, 160);
    color: white;
    font-size: 2em;
    text-align: center;

}
.flexbox-footer {
    height: 15vh;
    width: 50vh;
    border: 2px solid black;
    background-color: rgb(204, 116, 15);
    color: white;
    font-size: 2em;
    text-align: center;

}
.articles-container {
    height: 55vh;
    width: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    border: 2px solid black;
    padding: 10px;
    flex-direction: column;
    background-color: rgb(12, 190, 86);
}
.articles-container article {
    flex: 1;
    padding: 20px;
    margin: 0 5px;
    border: 2px solid black;
    background-color: rgb(219, 12, 116);
    color: white;
    font-size: 2em;
    text-align: center;
    justify-content: space-between;
}