.flexbox-container {
    background-color: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 5px;
    border: 2px solid;
    height: 100vh;
    width: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;


}
.flexbox-item  {
    width: 90%;
    height: 15vh;
    border: 2px solid rgb(219, 12, 116);
    background-color: rgb(219, 12, 116);
    color: white;
    font-size: 2em;
    text-align: center;
}
.flexbox-header {
    width: 90%;
    height: 15vh;
    border: 2px solid rgb(87, 12, 53);
    background-color: rgb(87, 12, 53);
    color: white;
    font-size: 2em;
    text-align: center;
}
.flexbox-aside {
    width: 90%;
    height: 15vh;
    border: 2px solid rgb(59, 59, 160);
    background-color: rgb(59, 59, 160);
    color: white;
    font-size: 2em;
    text-align: center;

}
.flexbox-footer {
    width: 90%;
    height: 15vh;
    border: 2px solid rgb(204, 116, 15);
    background-color: rgb(204, 116, 15);
    color: white;
    font-size: 2em;
    text-align: center;

}
.articles-container {
    height: 55vh;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border: 2px solid rgb(12, 190, 86);
    padding: 10px;
    flex-direction: column;
    background-color: rgb(12, 190, 86);
    gap: 5px;
}
.articles-container article {
    width:auto;
    margin: 0 5px;
    border: 2px solid rgb(219, 12, 116);
    background-color: rgb(219, 12, 116);
    color: white;
    font-size: 2em;
    text-align:center;
    justify-content: space-around;
}